
.seleccion2 li{
    display: inline-block; 
    }

.seleccion2{
    float: right; 
}

.seleccion2 a{
    color: black;
    text-decoration: none;
    padding: 18px;
    font-style: italic;
}

.seleccion2 a:hover{
    background: #eb601f; 
}

.seleccion2{
    font-family: Arial, Helvetica, sans-serif;
}

.submenu {
    font-weight: bold;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

.submenu a{
    color: black;
    text-decoration: none;
    padding: 15px;
}

.submenu a:hover{
    text-decoration: underline;
}

.submenu li{
    display: inline-block;
}

.previo{
    border-top-style: ridge;
    border-width: 1px;
}

.slash1::before {
    content: " / ";
    padding: 8px;
  }

.slash1::after{
    content: "/";
    padding: 10px;
}

.slash2::after{
    content: "/";
    padding: 8px;
}

.slash3 {
    color: gray;
}

.slash1 {
    font-size: 12px;
}

.slash2 {
    font-size: 12px;
}

.slash3 {
    font-size: 12px;
}

.slash1 a{
    text-decoration: none;
    color: rgb(54, 54, 109);
}

.slash2 a{
    text-decoration: none;
    color:rgb(54, 54, 109);
}

.preing {
    font-size: 14px;
    line-height: 25px;
    color: #f60;
    border: 1px solid #f60;
    padding: 5px 41px;
    border-radius: 18px;
    background: #fff;
    text-align: center;
    width : max-content;
    margin: 0 auto;
}

.columna_i {
    width: 50%;
    float: left;
   }

.columna_d {
    width: 50%;
    float: left;
}

.titulo1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.titulo4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.preing2{
  border: 1px solid #f60;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background: #fff;
  padding: 15px 55px;
  margin-bottom: 100px;
}

.preing2 a{
    text-decoration: none;
    color: black;
}

.preing2 a:hover{
    background-color: #f60;
    color: #fff;
    border-bottom: #eb601f;
    padding: 15px;
    border-radius:  25px;
 }

 .opcion6{
    color: gray;
    font-family: 'Courier New', Courier, monospace
 }

